#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color:rgb(253, 218, 175);
  color: black;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.majorContainer {
  margin-bottom: 10vh;
}
